/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */

.footer1 {
  background-color: burlywood;
  text-align: center;
  color: black;
  text-decoration: underline;
  padding: 1rem;
  margin-left: 290px;
}

.main-content {
  margin-left: 270px;
  padding: 20px;
}

.sidebar {
  position: fixed;
  height: 100%;
  top: 0;
  left: 0;
  background-color: black;
  padding: 45px;
  overflow-y: auto;
  z-index: 100;
}

.profile-section {
  text-align: center;
  color: white;
}

.profile-section h3 {
  padding: 10px 20px;
}

.profile-pic {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 15px;
}

.nav-links li {
  margin: 15px 0;
  padding-top: 10px;
  padding-bottom: 10px;
}

.nav-links {
  list-style-type: none;
  padding: 0;
}

.nav-links li a {
  color: gray;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: larger;
  align-items: center;
  text-decoration: none;
}

.nav-links li i {
  font-size: 25px;
  color: gray;
  margin-right: 10px;
}

.nav-links li i:hover {
  color: skyblue;
}

.nav-links li a:hover {
  color: white;
  background-color: black;
  border-color: aqua;
}

.social-icons i {
  border: 1px solid #888;
  font-size: 25px;
  border-radius: 50%;
  color: white;
  background-color: black;
  padding: 10px;
  margin: 0 10px;
  transition: color 200ms, border-color 200ms;
}

.social-icons i:hover {
  color: orangered;
  border-color: gray;
}

.circle i {
  font-size: 30px;
  width: 30px;
  height: 30px;
  background-color: rgb(255, 255, 255);
  color: black;
  border-radius: 50%;
  padding: 1rem 1rem;
  margin: 10px;
}

.circle a {
  font-size: large;
  color: black;
  text-decoration: none;
  border: 50%;
}

.circle a:hover {
  border: 0.5px solid gray;
  color: rgb(255, 255, 255);
  font-size: x-large;
  text-decoration: none;
  box-shadow: inset;
  text-shadow: lightblue;
  transition-duration: 0.5s;
}