/* @media screen and (max-width: 768px) {
  .main-content {
    display: inline;
    margin-left: 0;
  }

  .sidebar {
    position: fixed;
    height: 100%;
    width: 250px;
    top: 0;
    left: -250px; 
    background-color: black;
    padding: 20px;
    transition: left 0.3s ease;
    z-index: 1000;

  }

  .sidebar.open {
    left: 0; 
  }

  .fas.fa-bars {
    position: fixed;
    top: 10px;
    right: 10px;
    background-color: black;
    color: white;
    text-align: center;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 20px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }

  .fas.fa-bars:hover {
    color: skyblue;
    transition: all 0.3s ease;
  }

  .main-content {
    margin-left: 0px; 
  }


  
}

@media screen and (min-width: 769px) {
  .fas.fa-bars {
    display: none;  Hide bars on larger screens 
  }

  .sidebar {
    left: 0;  Ensure sidebar is always visible on larger screens 
  }

  .main-content {
    margin-left: 130px;  Adjust main content margin for larger screens 
  }
} */


@media only screen and (min-width:1440px){
  /* css for desktop devices */
  .fas.fa-bars {
    display: none;
  }

  .sidebar {
    left: 0;
  }

  .footer1 {
    
  }
}

@media only screen and (min-width:1024px) and (max-width:1439px){
  /* css for laptop devices */
  .fas.fa-bars {
    display: none;
  }

  .sidebar {
    left: 0;   
  }
}

@media only screen and (min-width:768px) and (max-width:1023px){
  /* css for tablet devices */
  body {
    margin-left: 0;
    font-family: 'Times New Roman', Times, serif;
    background-image: none;
    background-color: rgba(17, 17, 16, 0.1);
  }

  .main-content {
    padding: 0;
    transition: margin-left 0.3s ease;
  }

 .fas.fa-bars {
  color: yellow;
  background-color: black;
  height: 40px;
  border-radius: 50%;
  text-align: center;
  width: 40px;
  letter-spacing: 2px;
  line-height: 40px;
  font-size: 20px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin: 0;
  position: fixed;
  top: 0;
  right: 0;
 }

 .fas.fa-times {
  color: yellow;
  background-color: black;
  height: 40px;
  border-radius: 50%;
  text-align: center;
  width: 40px;
  letter-spacing: 2px;
  line-height: 40px;
  font-size: 20px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin: 0;
  position: fixed;
  top: 0;
  right: 0;
 }
}

@media only screen and (max-width:767px){
  /* css for mobile devices */
  body {
    margin-left: 260px;
    font-family: 'Times New Roman', Times, serif;
    background-image: none;
    background-color: rgba(17, 17, 16, 0.1);
  }

  .main-content {
    padding: 0;
    transition: margin-left 0.3s ease;
  }

  .fas.fa-bars {
    color: yellow;
    background-color: black;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    width: 40px;
    letter-spacing: 2px;
    line-height: 40px;
    font-size: 20px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: 0;
    position: fixed;
    top: 0;
    right: 0;
   }
  
   .fas.fa-times {
    color: yellow;
    background-color: black;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    width: 40px;
    letter-spacing: 2px;
    line-height: 40px;
    font-size: 20px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: 0;
  position: fixed;
  top: 0;
  right: 0;
   }

   .sidebar {
    position: fixed;
    height: 110vh;
  top: 0;
  left: -260px;
  background-color: black;
  padding: 45px;
  overflow: visible;
  transition: left 0.3s ease-in-out;
}

.sidebar.open {
  left: 0;

}
}



body {
  margin-left: 260px;
  font-family: 'Times New Roman', Times, serif;
  background-image: none;
  background-color: rgba(17, 17, 16, 0.1);
}

.slider {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 80%;
  margin: auto;
  overflow: hidden;
  padding: 20px;
}

.projects{
  background-image: url("./assets/projects-bg.jpg");
  opacity: 0.8;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 50vh;
  padding: 0;
  margin: 0;
  border-radius: 4px;
  align-items: center;
  justify-content: space-between;
  display: flex;
}

.proj {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 4px;
  transition: background-color 0.5s;
}

.project1 {
  width:fit-content;
  height: fit-content;
  border: 1px solid black;
  border-radius: 25px;
}

img {
  
  width: 100%;
  max-height: 400px;
  object-fit: cover;
  transition: transform 0.5s;
  border-radius: 5px;
}

.skills {
  text-align: center;
}

.footer1 {
  background-color: black;
  text-align: center;
  color: white;
  text-decoration: underline;
  padding: 30px;
  padding-right: 50px;
  margin: 0px;
}

.main-content {
  padding: 20px;
  transition: margin-left 0.3s ease;
}

.sidebar {
  position: fixed;
  height: 110%;
  flex-direction: column;
  top: 0;
  left: 0;
  background-color: black;
  padding: 45px;
  overflow: visible;
  z-index: 100;
}

.profile-section {
  text-align: center;
  color: white;
}

.profile-section h3 {
  padding: 10px 20px;
}

.profile-pic {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 15px;
}

.nav-links {
  list-style-type: none;
  padding: 0;
}

.nav-links li {
  margin: 15px 0;
  padding-top: 10px;
  padding-bottom: 10px;
  overflow-y: auto;
}

.nav-links li a {
  color: gray;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: larger;
  align-items: center;
  text-decoration: none;
}

.nav-links li i {
  font-size: 25px;
  color: gray;
  margin-right: 10px;
}

.nav-links li i:hover {
  color: skyblue;
}

.nav-links li a:hover {
  color: white;
  background-color: black;
  border-color: aqua;
}

.social-icons i {
  border: 1px solid #888;
  font-size: 25px;
  border-radius: 50%;
  color: white;
  background-color: black;
  padding: 10px;
  margin: 0 10px;
  transition: color 200ms, border-color 200ms;
}

.social-icons i:hover {
  color: orangered;
  border-color: gray;
}

.circle i {
  font-size: 30px;
  width: 30px;
  height: 30px;
  background-color: rgb(255, 255, 255);
  color: black;
  border-radius: 50%;
  padding: 1rem 1rem;
  margin: 10px;
}

.circle a {
  font-size: large;
  color: black;
  text-decoration: none;
}

.circle a:hover {
  border: 0.5px solid gray;
  color: rgb(255, 255, 255);
  font-size: x-large;
  text-decoration: none;
  box-shadow: inset;
  text-shadow: lightblue;
  transition-duration: 0.5s;
}